body{
    background-color: beige;
    margin: 50pt;
}

.titles{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40pt;
}

.conferences{
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150;
}

.paragraphs{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.teams{
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}